* {
    box-sizing: border-box;    
    border: black 1px solid;
    /* min-height: 10px;
    min-width: 10px; */
}


body { 
    margin: 0;
}


body { 
    min-height: 100vh; 
}

body,
#calculator,
#middle-buttons,
.column,
.row,
.right-row {
    display: flex;
    
}

body,
#calculator,
.column {
    flex-direction: column;
}

/* main content */

main {
    flex: 1;
}

#calculator {
    margin: 100px;
}

.column1 {
    flex: 3;
}

.column2 {
    flex: 1;
}

.number-button {
    flex: 1;
}

/* 

.number-button,
.operation-button {
    width: 30px;
    height: 30px;
}
 */



