* {
    box-sizing: border-box;    
    border: black 1px solid;
    /* min-height: 10px;
    min-width: 10px; */
}


body { 
    margin: 0;
    min-height: 99.5vh; 
    /* background-color: skyblue; */
}


body { 
}

body,
#calculator,
#middle-buttons,
.column,
.row,
.right-row,
.operation-row {
    display: flex;
}

body,
#calculator,
.column,
.right-row {
    flex-direction: column;
}

/* main content */


main {
    flex: 1;
}

.main-row {
    padding: 10px;
}

#calculator {
    margin: 100px;
}

.column {
    padding: 10px;
}

.column1 {
    flex: 3;
}

.column2 {
    flex: 1;
}

button {
    flex: 1;
    min-height:160px;
    min-width: 160px;
}


/* 

.number-button,
.operation-button {
    width: 30px;
    height: 30px;
}
 */



